@import "../style.scss";

.story-award-certificate {
  background: $paper;
  box-shadow: 0 0 10px 4px #00000033;
  display: table;
  height: 300px;
  margin: 0 auto;
  min-width: 350px;
  overflow: hidden;
  padding: 35px;
  position: relative;
  text-align: center;
  width: 100%;

  .award-content {
    text-transform:  uppercase;
    display:  table-cell;
    vertical-align:  middle;
    color: $main-font-color;

    .award-pretitle {
      font-size:  15px;
      padding-top: 15px;
    }

    .award-title {
      font-size:  25px;
      font-weight:  bold;
      text-shadow: 0 0px 2px $black;
    }

    .award-subtitle {
      font-size:  10px;
      font-weight:  300;
    }

    .award-name {
      font-size:  20px;
      font-weight: 600;
    }

    .award-description {
      font-size:  10px;
      font-weight: 500;
    }

    .award-organizer {
      font-size: 21px;
      font-family: cursive;
      text-transform: capitalize;
      margin: 10px 12%;
      border-bottom:  1px solid;
      margin-bottom:  0;
    }

    .award-organizer-subtext {
      font-weight:  bold;
      font-size: 10px;
    }

    .award-graphic {
      width: 100%;
      text-align: center;
      border-bottom: 4px solid $black;
      line-height: 0.1em;
      margin: 10px 0 20px;
    }

    span.award-icon {
      background: $paper;
      padding: 0 10px;
      font-size:  40px;
    }

    .award-icon * {
      margin-bottom: -27px;
    }
  }

  .award-corner {
    background-color: $black;
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.8);
    height: 100px;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    width: 100px;

    &-left, &-left-bottom {
      right: -50px;
    }
    &-right, &-right-bottom {
      left: -50px;
    }
    &-left, &-right {
      top: -50px;
    }
    &-left-bottom, &-right-bottom {
      bottom: -50px;
    }
  }
}
