@import "../style.scss";

.story-moment-layout-merry_go_round {

  .merry_go_round-wrapper {
    padding: 20px;
    -webkit-perspective: 500px;
    perspective: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      flex: 0 0 auto;
    }

    .merry-go-round_figure {
      margin: 0;
      width: 40%;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      transition: transform 0.5s, -webkit-transform 0.5s;

      .merry-go-round__horse {
        width: 100%;
        box-sizing: border-box;
        padding: 80px;
        cursor: pointer;
        display:  table;
        vertical-align:  middle;
      }
      .merry-go-round__horse:not(:first-of-type) {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .merry-go-round-navigation {
      .merry-go-round-navigate {
        margin: 20px;
      }
    }
  }
}
