@import "../style.scss";

.story-gallery-image-container {

  .story-gallery-image {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    width: 100%;
    background-position: center;
    background-size: cover;

    &__contents {
      opacity: 1;
      overflow: hidden;
      position: relative;
      color: #000;
      background-color: #817f7fa1;
      font-size: 2em;
      font-weight: bold;
      padding: 5rem 2rem;
      width: 100%;
      height: 100%;
      transition: all ease 1s;

      &:hover {
        opacity: 0;
      }

      &-label {
        border: 1px solid $white-transparent;
        padding: 5px 10px;
      }
    }
  }

  &.no-image-layout {
    text-align: center;

    .story-gallery-image {

      &__contents:hover {
          opacity: .8;
          background-color: $black;
      }
    }
  }
}

.story-gallery-dialog {

  .MuiDialog-paper {
    background: none;
    box-shadow: none;
  }

  &-body {
    height: 70%;
    width: 80%;
    position: relative;
    color: #fff;
    margin-left: 100px;
    max-height: 80%;
    text-align: center;

    &:hover {

      .close-btn {
        opacity: 1;
        transform: scale(1, 1);
      }

      .story-gallery-dialog-body__content {
        opacity: 1;
        transform: translateY(-55px);

        &::after {
          opacity: 1;
        }
      }
    }

    .dialog-image {
      max-height: 100%;
      max-width: 100%;
      margin: 0;
    }

    .MuiDivider-root {
      background: $white;
    }

    &__content {
      display: block;
      padding: 1em;
      position: absolute;
      bottom: -50px;
      left: -100px;
      max-width: 80%;
      transform: translateY(50%);
      font-size: 1.5em;
      opacity: 0;

      &::after {
        content: ' ';
        background-color: rgba(0, 0, 0, 0.6);
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        transition: all 350ms ease-in-out 250ms;
        opacity: 0;
        transform-origin: bottom;
        mix-blend-mode: soft-light;
      }
      .story-card__header {
        font-size: 100%;
        padding: 0;
      }
      .lightbox-content {
        font-size: medium;
        margin: 0;
      }
    }

    > * {
      transition: all 450ms ease-in-out;
    }
    .close-btn {
      cursor: pointer;
      width: 2em;
      height: 2em;
      position: absolute;
      right: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      transform: scale(0, 0);
      opacity: 0;
      transform-origin: right top;
      text-decoration: none;
      color: #fff;

      ::after {
        content: "X";
      }
    }

    &.no-image-layout {
      width: 100%;
      min-width: 40vw;
      min-height: 30vh;
      margin: 0;
      display: flex;
      flex-direction: column;

      .story-gallery-dialog-body__inner {
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        padding: 25px;
        flex-grow: 1;
      }
    }
  }
}
