.story-moment-layout-slide_scroll {

  .story-moment__content__body {

    .slide-scroll-wrapper {
      height: 100%;
      width: 100%;
      position: relative;
      overflow: auto;
      padding: 0;

      .slide-scroller-container {
        padding: 60px;
        margin: 0 auto;
        white-space: nowrap;

        .slide-scroller-card {
          display: inline-block;
          width: 250px;
          vertical-align: top;
          white-space: normal;
          margin: 20px;
        }
      }
    }
  }
}
