{
  "parser": "@typescript-eslint/parser",
  "extends": [
      "airbnb",
      "airbnb-typescript",
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:react/recommended"
  ],
  "env": {
    "es6": true
  },
  "ignorePatterns": ["**/lib/*", "webpack.config.js"],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["@material-ui/*/*/*", "!@material-ui/core/test-utils/*"]
      }
    ]
  }
}
