.story-story {
  display: flex;
  height: 100%;

  .story-sidebar {
    z-index: 1000;
    width: 180px;
    min-height: 100%;
  }

  &__moments {
    flex-grow: 1;

    > div {
      height: 100%;
    }

    &__moment-container {
      height: 100%;
      width: 100%;
    }
  }
}
