@import "../style.scss";

.story-moment-layout-tile {

  .story-moment__content__body {


    .tile-wrapper {
      padding: 50px;
      margin-bottom: 20vh;
      height: 100%;
      margin-bottom: 40vh;
      .tile-container {
        margin: 0 auto;
        height: 100%;
      }
    }
  }
}
