@import "../../style.scss";

.story-sidebar__section {
  cursor: pointer;

  &:hover, &.--active {

    .story-card__section {

      .story-icon {
        filter: none;
      }
    }
  }

  &.--active {
    opacity: .5;

    .story-card__section, .story-card__section:hover {
      color: $primary-color;
      background: darken($main-background-color, 10%);
      border-color: $primary-color;
    }
  }

  .story-card__section {
    font-size: 85%;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    padding: 30px 10px;
    font-weight: 400;

    &:hover {
      background: $primary-color;
      border-color: $foreground-primary-color;
      color: $foreground-primary-color;
    }

    .story-icon {
      text-align: center;
      opacity: .6;
      width: 100%;
      filter: grayscale(100%);
    }

    .story-sidebar-text {
      text-align: left;
    }
  }
}
