.story-story {
  display: flex;
  height: 100%;
  max-height: 100vh;

  .awssld__controls {
    display: none;
  }

  .story-sidebar {
    z-index: 1000;
    width: 200px;
    min-height: 100%;
    background: white;
  }

  &__moments {
    flex-grow: 1;

    > div {
      height: 100%;
    }

    &__moment-container {
      height: 100%;
      width: 100%;
    }
  }
}
